.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 3.8rem;
  color: #343a40;
}

.nav-list {
  list-style: none;
  font-size: 1.8rem;
  display: flex;
  gap: 2.4rem;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
