.main-heading {
  font-size: 3.8rem;
  font-weight: 800;
  padding: 2.4rem;
  color: #fff;
  letter-spacing: -1px;
}

.subheading {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1.4rem;
  color: #495057;
}

.station-name {
  font-size: 5.4rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
  letter-spacing: -1.5px;
}

.second-heading {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
}
